
<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
    <head>
      <meta charset="utf-8">
      <title>FullCareApp</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-light" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </div>
      {% endif %}
      {% endwith %}
    {% if current_user.is_authenticated %}

      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename = 'klogo2.png') }}" width="190" height="40" class="d-inline-block align-top" alt="FullCare">FullCare ajanvarauspalvelu</a>

            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('modify_doctor') }} ">Muokkaa tietoja</a>
                </li>

              <span  class="navbar-text">Kirjautunut nimellä {{ current_user.name }},tunniste:{{" DOCTOR"}}
                <a class="nav-link" href="{{ url_for('logout') }} " style="align:left">Kirjaudu ulos</a>
            </span>

        </div>
      </nav>


      {% else %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename = 'klogo2.png') }}" width="190" height="40" class="d-inline-block align-top" alt="">FullCare ajanvarauspalvelu</a>
	         <div class="collapse navbar-collapse" id="navbarCollapse">
             <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                 <a class="nav-link" href="{{ url_for('login') }} ">Kirjaudu</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{{ url_for('register_user') }} ">Rekisteröidy</a>
               </li>
             </ul>

	        </div>
    </nav>


      {% endif %}


      <main role="main" class="container">
      {% block body %}
        <p>
          Content.
        </p>
      {% endblock %}
</main>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </body>
  </html>
