{% extends "layout.html" %}

{% block body %}

<!-- {% with messages = get_flashed_messages() %} -->
<!-- {% if messages %} -->
  <!-- <ul class=flashes> -->
  <!-- {% for message in messages %} -->
    <!-- <li>{{ message }}</li> -->
  <!-- {% endfor %} -->
  <!-- </ul> -->
<!-- {% endif %} -->
<!-- {% endwith %} -->
<h3>Kirjautuminen</h3>
<form method="POST" action="{{ url_for('login') }}">
  <table>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=20) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=20) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
      {{ error }}

    <tr>
      <td colspan="2">
	      <input type="submit" value="Kirjaudu palveluun"/>
      </td>
    </tr>
</form>
{% endblock %}
