{% extends "author.html" %}

{% block body %}

<div class="col-md-7 col-sm-6 home-banner-left">

  <table class="table table-hover">
    <h4>All service users</h4>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Postalcode</th>
        <th scope="col">Postoffice</th>
        <th scope="col">Role</th>
      </tr>
    </thead>

    {% for u in u_all %}
    <tr>

        <td scope="col">{{ u.name }}</td>
        <td scope="col">{{ u.email }}</td>
        <td scope="col">{{u.address }}</td>
        <td scope="col">{{u.postal_code }}</td>
        <td scope="col">{{u.post_office }}</td>
        <td scope="col">{{u.role}}</td>

    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
