<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>FullCareApplication</title>
    </head>
    <body>
      <form method="POST" action="{{ url_for('create_user') }}" >
        <label for = "name">Nimi</label><br>
        <input type = "text" name = "name" placeholder = "Nimi" /><br>
        <label for = "appt_addr">Nimi</label><br>
        <input type = "text" name = "appt_addr" placeholder = "Nimi" /><br>
        <label for = "role">Rooli</label><br>
        <input type = "text" name = "role" placeholder = "Rooli"></label><br>
        <label for = "email">Email</label><br>
        <input type = "text" name = "email" placeholder = "Email"></label><br>
        <input type="submit" value="Lisää uusi käyttäjä"/>
      </form>
      <form action="{{ url_for('index') }}">
        <input type="submit" value="Takaisin etusivulle"/>
      </form>
    </body>
  </html>
