{% extends "author.html" %}

{% block body %}

<div class="col-md-7 col-sm-6 home-banner-left">

  <table class="table table-hover">
    <h4>Appointments status info</h4>
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Date</th>
        <th scope="col">Reservation status</th>
        <th scope="col">Address</th>
        <th scope="col">Postalcode</th>
        <th scope="col">Postoffice</th>
      </tr>
    </thead>

    {% for aplo in all_appts_and_locations %}
    <tr>

        <td scope="col">{{ aplo.time }}</td>
        <td scope="col">{{ aplo.date }}</td>
        {% if aplo.state == False %}
            <td bgcolor="green">{{ "Available" }}
        {% else %}
            <td bgcolor="red">{{ "Booked" }}
        {% endif %}</td>
        <td scope="col">{{ aplo.address }}</td>
        <td scope="col">{{ aplo.postalCode }}</td>
        <td scope="col">{{ aplo.postOffice }}</td>

    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
