 {% extends "layout.html" %} {% block body %}
<div class="container">
  <h4>Info</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-auto">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
            <th scope="col">Reservation status</th>
            <th scope="col">Address</th>
            <th scope="col">Postalcode</th>
            <th scope="col">Postoffice</th>
          </tr>
        </thead>

        {% for i in t_location%}
        <tbody>
          <tr>
            <td>{{ i.time }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.address}}</td>
            <td>{{ i.postalCode}}</td>
            <td>{{i.postOffice}}</td>
            {% if i.state == False %}
            <td>
              <form method="GET" action="{{ url_for('varaa',uid= i.id)}}">
                <input type="hidden" uid="{{i.id}}">
                <input type="submit" class="btn btn-primary" value="Book">
              </form>
            </td>
            {% else %}
            <td bgcolor="red">{{ "Booked" }}</td>
            {% endif %}</td>

          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</div>
{% endblock %}
