 {% extends "layout.html" %} {% block body %}
<div class="container">
  <h4>Deleting user account</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-auto">

      <form method="POST" action="{{ url_for('delete_user')}}">

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nimi</th>
              <th scope="col">Email</th>
            </tr>
            <tr>
          </thead>
          <td scope="col">{{ current_user.name }}</td>
          <td scope="col">{{ current_user.email }}</td>
          </tr>
        </table>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <div class="form-group">
          {{ form.password.label }}<br> {{ form.password(size=20)}}<br>
          <small id="emailHelp" class="form-text text-muted">At least 8 characters.</small> {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </div>
        <div class="form-group">
          {{ form.password2.label }}<br> {{ form.password2(size=20)}}<br>
          <small id="emailHelp" class="form-text text-muted">At least 8 characters.</small> {% for error in form.password2.errors %}
          <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </div>

        <p> <input type="submit" class="btn btn-primary" value="Confirm" /></p>
      </form>
      {% endblock %}