{% extends "author.html" %} {% block body %}

<h3>Register a new doctor</h3>
<form method="POST" action="{{ url_for('add_new_doctor')}}">

  <form>
    <div class="form-group">
      {{ form.name.label }}<br> {{ form.name(size=20) }}<br> {% for error in form.name.errors %}
      <span style="color: red;">{{ error }}</span> {% endfor %}
    </div>
    <div class="form-group">
      {{ form.address.label }}<br> {{ form.address(size=20) }}<br> {% for error in form.address.errors %}
      <span style="color: red;">{{ error }}</span> {% endfor %}
    </div>
    <div class="form-group">
      {{ form.postal_code.label }}<br> {{ form.postal_code(size=20) }}<br> {% for error in form.postal_code.errors %}
      <span style="color: red;">{{ error }}</span> {% endfor %}
    </div>
    <div class="form-group">
      {{ form.post_office.label }}<br> {{ form.post_office(size=20) }}<br> {% for error in form.post_office.errors %}
      <span style="color: red;">{{ error }}</span> {% endfor %}

    </div>

    <div class="form-group">
      {{ form.email.label }}<br> {{ form.email(size=20) }}<br> {% for error in form.email.errors %}
      <span style="color: red;">{{ error }}</span> {% endfor %}
    </div>


    <button type="submit" class="btn btn-primary" value="Confirm" />Confirm</button>
  </form>
  {% endblock %}
