{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h4>My appointments</h4>
</div>

<div class="container">
      <div class="row">
    <div class="col-md-auto">


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Date</th>
      <!-- <th scope="col">Osoite</th>
      <th scope="col">Postinumero</th>
      <th scope="col">Postitoimipaikka</th> -->
      <th scope="col">My booking</th>
    </tr>
  </thead>

    {% for appt in omat_appts%}
    <tbody>
    <tr>
      <td>{{ appt.time }}</td>
      <td>{{ appt.date }}</td>
    <td>{% if appt.state == True %}
                  <form method="GET" action="{{ url_for('peru',uid= appt.id)}}">
                   <input type="hidden" uid="{{appt.id}}">
                      <button type="submit" class="btn btn-primary" value="Cancel the reception time">Cancel the reception time</button>
                  </form>
              {% else %} {{"reserved"}}
              {% endif %}</td>

      </tr>
    {% endfor %}
        </tbody>
  </table>

{% endblock %}
